<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Gold &amp; Ink</string>
  <key>NSCameraUsageDescription</key>
  <string>Gold &amp; Ink needs camera access to let you take photos for your flashcards.</string>
</dict>
</plist>
